<%= form_for(@import, :html => {:multipart => true}) do |f| %>
  <% if @import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <p>
      <%= f.file_field :import_file %>
    </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
