<div class="wizard">
  <a><span class="badge">1</span> Choose import origin</a>
  <a><span class="badge">2</span> Upload file</a>
  <a class="current"><span class="badge">3</span> Check the import status</a>
</div>

<%= link_to 'Zip', @import.import_file.url %>
<%= link_to 'contacts', @import.import_file.contacts.url %>

<h3>Import status</h3>
<h5>Overall status: <span class="label label-default overall-status"><%= @import.realtime_status %></span></h5>
<ul>
  <% @import.import_modules.each do |im| %>
  <li><%= im.name %> <span class="label label-default"><%= im.realtime_status %></span></li>
  <% end %>
</ul>


<% if not @import.finished? %> <%= link_to 'Edit', edit_import_path(@import) %> | <% end %> 
<%= link_to 'Back', imports_path %>
